<div id="checkoutModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Payment Test Store</h2>
      <span class="close-button">&times;</span>
    </div>
    <div class="modal-body">
      <form id="SubmitForm">
        <section>
          <h3>Contact Information</h3>
          <input type="tel" id="Phone_Number" placeholder="Phone number" value="">
          <input type="email" id="customerEmail" placeholder="Email" value="">
        </section>

        <section>
          <h3>Delivery Information</h3>
          <div class="input-group">
            <input type="text" id="firstName" placeholder="First Name">
            <input type="text" id="lastName" placeholder="Last Name">
          </div>
          <div class="input-group">
            <select id="country">
              <option value="Pakistan">Pakistan</option>
            </select>
            <input type="text" id="city" placeholder="City" value="Karachi">
          </div>
          <input id="streetAddress" placeholder="Street Address, Karachi (Optional)" rows="3">
          <input type="text" id="postalCode" placeholder="Postal Code"  value="">
          <div id="errorPostalcodeMessage" style="color: red; font-size: 14px;"></div>
          <textarea placeholder="Note" id="Note_Text"></textarea>
          

        </section>

      <section>
    <h3>Shipping Method</h3>
    <div  id="shippingMethodContainer">
        <!-- Radio buttons will be populated dynamically by JavaScript -->
    </div>
</section>

      

        <section id="Shipping__Time">
          <h3> Shipping Time</h3>
          <div class="delivery-options-container">
            <div class="input-group">
              <select id="EzDelivery_Option">
                              <option value="0">Select Shipping Time</option>
                              <option value="23.5" id="Same_day_delivery">Same Day Delivery - $23.5 (delivered between 4pm-8pm)</option>
                              <option value="18.5">Next Day Delivery - $18.5 (Cut off will be at 5pm)</option>
                              <option value="85.0">Top Priority Delivery - $85.0 (delivered within 2 hrs)</option>
                            </select>
            </div>
    
            <div class="footer">
               <div class="powered-by">
                    <img style="width:30px ; height: 30px;" src="http://localhost:52773/assets/logo.png" alt="Quiver Logo">
                     <span style="color: #223F8D;">Powered by Ez Delivery</span>
               </div>
                {% comment %} <span>Saving 1.6kg of CO₂</span> {% endcomment %}
            </div>
        </div>
          <div class=" hideNextDay_Date_Input " id="hideInput">
            <div class="single_radio-info">
              <input type="radio" name="subscribe" value="newsletter">
              <label>8 AM - 12 PM</label>
            </div>
            <div class="single_radio-info">
              <input type="radio" name="subscribe" value="newsletter">
              <label>12 PM - 4 PM</label>
            </div>
            <div class="single_radio-info">
              <input type="radio" name="subscribe" value="newsletter">
              <label>4 PM - 8 PM</label>
            </div>
          </div>
        </section>

        <section>
          <h3>Payment</h3>
          <div class="input-group">
            <div id="card-number"></div>
            <div id="card-expiry"></div>
            <div id="card-cvc"></div>
          </div>
          <button type="submit" id="Pay__now" class="pay-button">Pay Now</button>
        </section>
      </form>
      <div style="position: fixed;top: 80px;right: 30px;width: 30%;overflow: hidden;">
        <div class="order-summary" id="OrderSummary">
          <h3>Order Summary</h3>
          <div id="productList"></div>
        </div>
        <div class="order-pricing">
          <div class="summary-line">
            <span>Subtotal</span>
            <span id="subtotalAmount">Rs 0.00</span>
          </div>
          <div class="summary-line">
            <span>Shipping</span>
            <span id="shippingCost">Rs 0.00</span>
          </div>
          <div class="summary-line total">
            <span>Total</span>
            <span id="Checkout_Total_Amount">Rs 0.00</span>
          </div>
        </div>
      </div>
      <!-- Add this inside modal-content -->
      <div id="thankYouSection" style="display:none; z-index: 100">
        <div class="thank-you-content">
          <h2>Thank you for your orders ! 🎉</h2>

          <div class="order-details">
            <p>
              YOUR ORDER IS CONFIRMED
              <span id="thankYouOrderNumber"></span>
            </p>
            <p><span id="thankYouEmail"></span></p>
            We've accepted your order,and we're getting it ready.
          </div>
          <div class="order-details">
            <p>
             NOTES
              <span id="thankYouOrderNumber"></span>
            </p>
            
            <p id="Note_Text_show">We've accepted your order,and we're getting it ready.</p>
          </div>
          <div
            class="grid_div"
            style="
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              gap: 2rem;
            "
          >
            <div class="shipping-info">
              <h3>Shipping Information</h3>
              <p id="thankYouEmaill">test@gmail.com</p>

              <p id="thankYouName">Test user</p>
              <p id="thankYouAddress">Block No 1 abc street</p>
              <div>
                <p id="thankYouCity">
                  Karachi,Pakistan <span id="thankYouPostal"> 10035</span>
                </p>
              </div>

              <h3 style="margin-top: 2rem">Your Order</h3>
              <div id="Order_detail"></div>
            </div>

            <div class="order-summary">
              <h3>Order Summary</h3>

              <div id="total_Container">

                <div
                  class="product_Total_price"
                  style="display: flex; justify-content: space-between"
                >
                  <p>Subtotal</p>
                  <p id="priceOfProducts">abcd</p>
                </div>
                <div
                  class="Shipment_price"
                  style="display: flex; justify-content: space-between"
                >
                  <p>Shipping Price</p>
                  <p id="Shipment_Type">19</p>
                </div>
                
                <div class="total">
                  <p>Total</p>
                  <p id="thankYouTotalll">129.46</p>
                </div>
              </div>
            </div>
          </div>

          <div
            style="

            display: flex;
            justify-content: end;
            gap: 1rem;
            "
          >
            <button id="continueShopping" class="continue-btn">
              Continue Shopping
            </button>
            <button id="TrackTheOrder" class="continue-btn">
              Track you order
            </button>
          </div>
        </div>
      </div>

    </div>
    {% comment %} <div class="modal-footer">
      <p>Secure Payment</p>
    </div> {% endcomment %}
  </div>
</div>

{% schema %}
{
  "name": "Ez-Delivery",
  "target": "body",
  "stylesheet": "style.css",
  "javascript": "index.js"
}
{% endschema %}